# NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
# https://openapi-generator.tech
# Do not edit the class manually.

defmodule TelnyxAPI.Api.NumberConfigurations do
  @moduledoc """
  API calls for all endpoints tagged `NumberConfigurations`.
  """

  alias TelnyxAPI.Connection
  import TelnyxAPI.RequestBuilder


  @doc """
  List phone numbers with messaging settings

  ## Parameters

  - connection (TelnyxAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :page_left_square_bracketnumber_right_square_bracket (integer()): The page number to load
    - :page_left_square_bracketsize_right_square_bracket (integer()): The size of the page
  ## Returns

  {:ok, TelnyxAPI.Model.ListMessagingSettingsResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec list_phone_numbers_with_messaging_settings(Tesla.Env.client, keyword()) :: {:ok, TelnyxAPI.Model.ListMessagingSettingsResponse.t} | {:ok, TelnyxAPI.Model.Errors.t} | {:error, Tesla.Env.t}
  def list_phone_numbers_with_messaging_settings(connection, opts \\ []) do
    optional_params = %{
      :"page[number]" => :query,
      :"page[size]" => :query
    }
    %{}
    |> method(:get)
    |> url("/phone_numbers/messaging")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %TelnyxAPI.Model.ListMessagingSettingsResponse{}},
      { :default, %TelnyxAPI.Model.Errors{}}
    ])
  end

  @doc """
  Retrieve a phone number with messaging settings

  ## Parameters

  - connection (TelnyxAPI.Connection): Connection to server
  - id (String.t): Identifies the type of resource.
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, TelnyxAPI.Model.RetrieveMessagingSettingsResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec retrieve_phone_number_with_messaging_settings(Tesla.Env.client, String.t, keyword()) :: {:ok, TelnyxAPI.Model.RetrieveMessagingSettingsResponse.t} | {:ok, TelnyxAPI.Model.Errors.t} | {:error, Tesla.Env.t}
  def retrieve_phone_number_with_messaging_settings(connection, id, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/phone_numbers/#{id}/messaging")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %TelnyxAPI.Model.RetrieveMessagingSettingsResponse{}},
      { :default, %TelnyxAPI.Model.Errors{}}
    ])
  end

  @doc """
  Update a phone number with messaging settings

  ## Parameters

  - connection (TelnyxAPI.Connection): Connection to server
  - id (String.t): Identifies the type of resource.
  - update_phone_number_messaging_settings_request (UpdatePhoneNumberMessagingSettingsRequest): Updated messaging settings for the phone number
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, TelnyxAPI.Model.RetrieveMessagingSettingsResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec update_phone_number_with_messaging_settings(Tesla.Env.client, String.t, TelnyxAPI.Model.UpdatePhoneNumberMessagingSettingsRequest.t, keyword()) :: {:ok, TelnyxAPI.Model.RetrieveMessagingSettingsResponse.t} | {:ok, TelnyxAPI.Model.Errors.t} | {:error, Tesla.Env.t}
  def update_phone_number_with_messaging_settings(connection, id, update_phone_number_messaging_settings_request, _opts \\ []) do
    %{}
    |> method(:patch)
    |> url("/phone_numbers/#{id}/messaging")
    |> add_param(:body, :body, update_phone_number_messaging_settings_request)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %TelnyxAPI.Model.RetrieveMessagingSettingsResponse{}},
      { :default, %TelnyxAPI.Model.Errors{}}
    ])
  end
end
